<header class="flex justify-around -9 bg-slate-500 bg-opacity-60">
    <div class="p-12 self-end">
        <h1 class="text-7xl text-orange-200">Lacuna</h1>
        <h2 class="text-orange-400 ml-8">essential horoscopes</h2>
    </div>

    <div>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="184"
            height="289"
            viewBox="0 0 264 289"
            fill="none"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M103.033 6.14759C26.7993 28.8048 -16.6327 108.971 6.0245 185.205C28.6817 261.438 108.848 304.87 185.082 282.213C218.515 272.276 245.64 251.277 263.647 224.4C183.067 246.755 103.609 215.182 85.0805 152.841C68.2494 96.2107 107.402 33.3876 174.466 3.40001C151.551 -1.57112 127.096 -1.00423 103.033 6.14759Z"
                fill="#FFF1BD"></path>
        </svg>
    </div>
</header>
